<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- Configuración de conexión al servidor TCP -->
		<add key="ServidorIP" value="127.0.0.1"/>
		<add key="ServidorPuerto" value="5000"/>

		<!-- Tiempo de espera en milisegundos -->
		<add key="TimeoutConexion" value="5000"/>

	</appSettings>
</configuration>